ALLOW_ORIGIN=https://yourdomain.com
MASTER_TOKEN=your_millicast_master_token
COOKIE_SECRET=long_random_secret
ACCOUNT_ID=LZsuF8
STREAM_NAME=yourstream
TOKEN_RATE_LIMIT=30
ABUSE_LIMIT=10
JWT_TTL_SECONDS=120
ADMIN_KEY=another_long_random_secret
